*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.box{
  width:100%;
  height:100%;
  position:relative;
  color:#ffffff;
  font-size:24px;
  background-color:#fff4e7;
}
header{
    width: 100%;
    height: 100px;
    border: 1px solid aquamarine;
}
section{
    width: 100%;
    height: 770px;
    border: 1px solid blue;
}
footer{
    width: 100%;
    height: 130px;
    border: 1px solid red;
}
.title{
    color: black;
    font-size: 35px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#img1{
    width: 250px;
    height: 250px;
    background: url(muffins/choco.jpg);
    background-size: cover;
}

#img2{
    width: 250px;
    height: 250px;
    background: url(muffins/pretzels.jpg);
    background-size: cover;
}

#img3{
    width: 250px;
    height: 250px;
    background: url(muffins/pink.jpg);
    background-size: cover;
}

#img4{
    width: 250px;
    height: 250px;
    background: url(muffins/frozen.jpg);
    background-size: cover;
}

#img5{
    width: 250px;
    height: 250px;
    background: url(muffins/flower.jpg);
    background-size: cover;
}

#img6{
    width: 250px;
    height: 250px;
    background: url(muffins/chocochip.jpg);
    background-size: cover;
}

#img7{
    width: 250px;
    height: 250px;
    background: url(muffins/muffin.jpg);
    background-size: cover;
}

#img8{
    width: 250px;
    height: 250px;
    background: url(cookies/butter.jpg);
    background-size: cover;
}

#img9{
    width: 250px;
    height: 250px;
    background: url(cookies/jam.jpg);
    background-size: cover;
}

#img10{
    width: 250px;
    height: 250px;
    background: url(cookies/rabbit.jpg);
    background-size: cover;
}

#img11{
    width: 250px;
    height: 250px;
    background: url(cookies/cookie.jpg);
    background-size: cover;
}

#img12{
    width: 250px;
    height: 250px;
    background: url(cookies/christmas.jpg);
    background-size: cover;
}

#img13{
    width: 250px;
    height: 250px;
    background: url(cookies/star.jpg);
    background-size: cover;
}

#img14{
    width: 250px;
    height: 250px;
    background: url(cookies/snowflake.jpg);
    background-size: cover;
}

#img15{
    width: 250px;
    height: 250px;
    background: url(chocolate/rabbit.jpg);
    background-size: cover;
}

#img16{
    width: 250px;
    height: 250px;
    background: url(chocolate/bark.jpg);
    background-size: cover;
}

#img17{
    width: 250px;
    height: 250px;
    background: url(chocolate/ice-cream.jpg);
    background-size: cover;
}

#img18{
    width: 250px;
    height: 250px;
    background: url(chocolate/minibell.jpg);
    background-size: cover;
}

#img19{
    width: 250px;
    height: 250px;
    background: url(chocolate/white.jpg);
    background-size: cover;
}

#img20{
    width: 250px;
    height: 250px;
    background: url(chocolate/chocolates.jpg);
    background-size: cover;
}

#img21{
    width: 250px;
    height: 250px;
    background: url(chocolate/candy.jpg);
    background-size: cover;
}

#img22{
    width: 250px;
    height: 250px;
    background: url(cake/straberry.jpg);
    background-size: cover;
}

#img23{
    width: 250px;
    height: 250px;
    background: url(cake/cheese.jpg);
    background-size: cover;
}

#img24{
    width: 250px;
    height: 250px;
    background: url(cake/greentea.jpg);
    background-size: cover;
}

#img25{
    width: 250px;
    height: 250px;
    background: url(cake/choco.jpg);
    background-size: cover;
}

#img26{
    width: 250px;
    height: 250px;
    background: url(cake/blueberry.jpg);
    background-size: cover;
}

#img27{
    width: 250px;
    height: 250px;
    background: url(cake/chocoroll.jpg);
    background-size: cover;
}

#img28{
    width: 250px;
    height: 250px;
    background: url(cake/strawberryroll.jpg);
    background-size: cover;
}

#wrap{
    float: left;
    width: 250px;
    height: 300px;
    margin-left: 9%;
    margin-top: 3%;
    border: 1px solid purple;
    font-size: 22px;
    text-align: center;
    color: black;
    font-family: 'Nanum Pen Script', cursive;
}

#wrap2{
    float: left;
    width: 250px;
    height: 300px;
    margin-left: 15%;
    margin-top: 3%;
    border: 1px solid purple;
    font-size: 22px;
    text-align: center;
    color: black;
    font-family: 'Nanum Pen Script', cursive;
}
